@model IEnumerable<OCDD.Models.AppointmentModel>

<table class="table table-light">
    <thead>
        <tr>
            <th>Appointment ID</th>
            <th>Service Name</th>
            <th>Date and Time</th>
            <th>Vehicle Year</th>
            <th>Vehicle Make</th>
            <th>Vehicle Model</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.appointmentID</td>
                <td>@appointment.service.name</td>
                <td>@appointment.dateTime.ToString("f")</td>
                <td>@appointment.vehicleYear</td>
                <td>@appointment.vehicleMake</td>
                <td>@appointment.vehicleModel</td>
                <td>@appointment.status</td>
                <td>

                    @Html.ActionLink("Details", "Index", "Appointment", new { appointmentID = appointment.appointmentID, source = "AdminDashboard" }, new { style = "color: blue;" })

                </td>
            </tr>
        }
    </tbody>
</table>
